/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
body{
	/*background: image-url('textura-fundo.jpg') repeat #ee7528; discartando a imagem de fundo*/ 
	background-color: #ee7528;
}

.logo{
	width: 90px;
	height: 25px;
}

/* table */
table {
	margin: 0 0 1em;
	background: #FFF;
	border-collapse: collapse;
	border-top: 1px solid #FFA500;
	border-bottom: 2px solid #FFA500;
}

/* caption = table title/heading */
caption {
	text-align: left;
	font: bold small-caps 120%/1.3 "trebuchet ms",Helvetica,Arial,Sans-Serif;
	color: #FFA500;
	margin: .3em 0;
}

/* reduced font size to save space */
tr { font-size: 90%; }
/* prevent nested tables reducing font size further */
tr tr { font-size: 100%; }

/* tinted rows */
/* in CSS3 selectors: tbody tr:even or tbody tr:nth-child(2n) */
tr.odd {
	background: #F0E68C;
}

/* table cells */
th, td {
	font-weight: normal;
	padding: .3em .7em;
	text-align: left;
	vertical-align: top;
}

/* borders to separate body sections */
tbody tr:first-child th,
tbody tr:first-child td,
tfoot tr:first-child th,
tfoot tr:first-child td {
	border-top: 1px solid #FFA500;
}

/* tints for column headings */
thead {
	background: #F5DEB3;
	white-space: nowrap;
}

/* tints for totals */
tfoot {
	background: #ADA;
}

/* bold text for totals */
tfoot th,
tfoot td {
	font-weight: bold;
}